.container {
    display: flex; /* Enable flexbox for the main container */
    height: auto; /* Full height to accommodate the navbar */
    margin-top: 57px; /* Adjusted for the navbar height */
    width: 100%;
}

.mainContent {
    display: flex; /* Flexbox for the main content area */
    flex: 1; /* Take up remaining space */
    overflow: hidden; /* Prevent overflow */
}

.formContainer {
    flex: 1; /* This will take the available width left by the sidebar */
    padding: 2em; /* Add some padding */
    background-color: #ffffff; /* Light background for the form area */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 8px; /* Rounded corners for the form area */
}

.content {
    flex: 1;
    margin-left: 300px; /* Offset for the sidebar */
    padding: 20px;
    transition: margin-left 0.3s ease; /* Smooth transition when sidebar toggles */
  }
  
  .content.shifted {
    margin-left: 90px; /* Adjusted margin when sidebar is closed */
  }
.pageTitle {
    margin-bottom: 1.5em; /* Space below title */
    color: #032975; /* Main blue color for title */
    font-size: 40px; /* Larger font size for the title */
    font-weight: bold; /* Bold title */
}

.formGroup {
    margin-bottom: 1.5em; /* Space between input fields */
}

.label {
    display: block; /* Ensure labels are on their own line */
    margin-bottom: 0.5em; /* Space between label and input */
    font-weight: bold; /* Bold labels for emphasis */
    color: #032975; /* Main color for labels */
}

.input, .textarea {
    width: 100%; /* Full width for inputs */
    padding: 0.75em; /* Padding for inputs */
    border: 1px solid #ccc; /* Basic border */
    border-radius: 15px;
    font-size: 16px; /* Font size for readability */
    transition: border-color 0.3s; /* Smooth transition on focus */
}

.input:focus, .textarea:focus {
    border-color: #032975; /* Blue border on focus */
    outline: none; /* Remove default outline */
}

.textarea {
    min-height: 100px; /* Minimum height for the textarea */
}

.submitButton {
    background-color: transparent; /* Transparent background for outlined button */
    color: #012e61; /* Button text color */
    border: 2px solid #02254d; /* Blue border for outlined button */
    padding: 0.5em 1em;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}
.submitButton:hover {
    background-color: #032975; /* Blue background on hover */
    color: white; /* White text on hover */
}

