/* components/Map.module.css */

.mapContainer {
    height: 400px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .controls {
    margin-top: 10px;
  }
  
  .coordinate {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .resetButton,
  .removeButton {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #fdb425;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .resetButton:hover,
  .removeButton:hover {
    background-color: #fdb425;
  }
  