/* Styling for the search field */
.search {
  margin-bottom: 16px;
  background-color: white;
  border-radius: 20px; /* Rounded corners for a more modern look */
  box-shadow: none; /* Remove shadow */
  transition: all 0.3s ease; /* Smooth transitions */
}

/* Styles for the input field when focused or hovered */
.search:focus {
  box-shadow: none !important; /* Ensure no box-shadow on focus */
}

/* You can also style the container or other elements here */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 32px;
  border-radius: 15px;
  background-color: #003976;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 48px;
}

/* Heading styles */
.container .heading {
  color: white;
  margin-bottom: 24px;
  font-weight: bold;
  text-align: center;
}
